Schemas/oot.no.MT_1_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://oot.no/MT_1_v1" elementFormDefault="qualified" targetNamespace="http://oot.no/MT_1_v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>